*{
    padding: 0%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    background-color: #041924;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
    color:white;
}
body{
    background-color: #01111a;
    color:#F1F0E9;
}
.info{
    padding-top: 150px;
    padding-left: 50px;
    width: 400px;
}
.budy{
    margin-top: 10px;
    display:flex;
    margin-left: 50px;
}
.mypic{
    width:400px;
    height: 500px;
    background-image: url(f76b3f7f-9c0d-4bca-8caf-95727e8ebab1.png);
    background-size: cover;
    border-radius: 1%;
    margin-left: 180px;
}
.aboutme{
    margin-top:50px;
   display:flex;
}
.about{
    width:450px;
     margin-left: 100px;
}
